/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
body {
	margin: 0px;
	padding: 0;
	font-size: 12px;
	color: #616161;
}

h1,h2,h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
	margin-top: 20px;
}

ul {
	
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

/* Header */
#logo {
	width: 960px;
	height: 75px;
	margin: 0 auto;
	padding: 25px 10px 0 10px;
}

#logo h1,#logo p {
	float: left;
	margin: 0;
}

#logo h1 {
	padding: 0 0 0 0;
	letter-spacing: -1px;
	font-weight: normal;
	font-size: 3em;
}

#logo p {
	text-transform: uppercase;
	padding: 47px 0 0 3px;
	font-size: 10px;
	color: #FFFFFF;
}

#logo a {
	border: none;
	text-decoration: none;
	color: #DC8700;
}

/* Menu */
#menu {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	height: 59px;
}

#menu ul {
	margin: 0;
	padding-left: 270px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu li a {
	display: block;
	float: left;
	height: 42px;
	margin: 0;
	padding: 18px 40px 0 40px;
	text-decoration: none;
	font-size: 20px;
}

#menu li a:hover {
	text-decoration: underline;
}

/* Wrapper */
#wrapper {
	
}

/* Page */
#page {
	width: 960px;
	margin: 0 auto;
	padding: 20px 5px;
	background: #FFFFFF;
}

#page-bg {
	
}

/* Latest Post */
#latest-post {
	padding: 20px;
	border: 1px solid #E7E7E7;
}

/* Content */
#content {
	float: left;
	width: 700px;
}

.post {
	padding-bottom: 15px;
}

.post h1 {
	font-weight: normal;
}

.title {
	height: 30px;
	margin-left: 10px;
	padding: 8px 0 0 20px;
}

.title a {
	border-bottom: none;
	color: #FFFFFF;
}

.title a:hover {
	border-bottom: 1px dotted #000000;
}

.byline {
	margin: -60px 20px 20px 20px;
}

.byline a {
	color: #DC8700;
}

.tag {
	padding: 0 15px;
}

.entry {
	padding: 0 20px;
}

.entry p {
	line-height: 200%;
}

.links {
	padding: 4px 0px;
	text-align: right;
	font-weight: bold;
}

.links a {
	border: none;
}

.links a:hover {
	
}

/* Sidebars */
#sidebar1 {
	float: left;
	margin-top: -81px;
	margin-left: -1px;
}

#sidebar2 {
	float: right;
}

.sidebar {
	float: left;
	width: 240px;
	padding: 0;
	font-size: 12px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	padding: 0 0 20px 0;
}

.sidebar span {
	cursor: pointer;
}

.sidebar li ul {
	
}

.sidebar li li {
	margin: 0 10px 0 10px;
	padding: 3px 0px;
}

.sidebar li h2 {
	height: 40px;
	margin: 0 0 0 0;
	padding: 20px 15px 0px 65px;
	background: url(../images/img04.jpg) no-repeat left top;
	letter-spacing: -1px;
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
}

.sidebar a {
	
}

.sidebar a:hover {
	text-decoration: underline;
}

/* Search */
#searchform {
	margin: 0;
	padding: 0 0 0 0;
}

#searchform br {
	display: none;
}

#searchform h2 {
	
}

#s {
	margin: 10px 0px 0 15px;
	padding: 2px 2px;
	width: 180px;
	height: 18px;
	border: 1px solid #6F6E6E;
	background: #FFFFFF;
	font-size: 10px;
	color: #000000;
}

#x {
	margin: 0;
	padding: 2px 5px;
	height: 25px;
	background: #CA8186;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CCCCCC;
}
/* Calendar */
#calendar_wrap {
	padding: 0 15px;
	text-align: center;
}

#calendar_wrap table {
	width: 100%;
}

#calendar_wrap th {
	
}

#calendar_wrap td {
	
}

#calendar_wrap tfoot td {
	border: none;
}

#calendar_wrap tfoot td#prev {
	text-align: center;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#prev a {
	border: none;
}

#calendar_wrap tfoot td#next {
	text-align: right;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#next a {
	border: none;
}

/* Footer */
#footer {
	width: 960px;
	height: 70px;
	margin: 0 auto;
	padding: 0 20px;
}

#footer p {
	margin: 0;
	padding: 25px 0 0 0;
	text-align: center;
	font-size: smaller;
}

#footer a {
	
}

#footer .link {
	float: right;
}

#footer .copyright {
	float: left;
}

.homeText {
	line-height: 175%;
}

.homeMenu {
	width: 200px;
	float: left;
	margin-right: 10px
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 12px !important;
}

.ui-growl {
	position: absolute;
	top: 50%;
	left: 50%
}

.ui-datatable table
{
	border-collapse: collapse;
	width: 100%;
	font-size: 9px !important;
 
}


.botao_table
{  
   		height:23px;
   		width: 23px; 	
} 

.semBorda tr,.semBorda td {
	border: none !important;
}



.ui-widget {
	font-size: 12px !important;
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
    background-color: blue;

}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
    background-color: red;
}

.ui-layout-unit-content {
    background-color: #171E1E;
}

.ui-menubutton .ui-state-default .ui-icon {
	background: .ui-icon-circle-zoomout;
	/** insert your background image **/
}



.ui-notificationbar 
{ 
	z-index: 999; 
}


/*Cores para status*/
.Green 
{
 background-color: #00FF7F !important;
}

.Yellowgreen 
{
 background-color: #9ACD32 !important;
}

.Red
{
 background-color: #CD0000 !important;
}

.Tomato 
{
 background-color: #FF6347 !important;
}

.Yellow
{
 background-color: #EEEE00 !important;
}

.Gold 
{
 background-color: #FFD700 !important;
}

.SkyBlue 
{
	background-color: #F5F5F5 !important;
}

.LightBlue 
{
	background-color: #D3D3D3 !important;
}


.VermelhoAtma
{
	background-color: #D73037 !important;
}

.AzulAtma
{
	background-color: #273D76 !important;
}

.lightSkyBlue
{
	background-color: #87CEFA !important;
	
}

.cinza
{
	background-color: #DCDCDC !important;
}


.steelBlue
{
	background-color: #4682B4 !important;
}

/*stilo para a fonte do status*/
.statuspainel
{
	font-size: 8px;
	font-weight: bold;
	white-space: normal;
}

/*stilo para a fonte do status*/
.fonte_negrito_12
{
	font-size: 12px;
	font-weight: bold;
	white-space: normal;
}

.fonte_negrito_12_azul
{
	font-size: 12px;
	font-weight: bold;
	white-space: normal;
	color: #4682B4 !important;	
}

.fonte_negrito_12_verde
{
	font-size: 12px;
	font-weight: bold;
	white-space: normal;
	color: #000000 !important;	
}

.fonte_negrito_16_azul
{
	font-size: 16px;
	font-weight: bold;
	white-space: normal;
	color: #4682B4 !important;	
}

.fonte_negrito_16_verde
{
	font-size: 16px;
	font-weight: bold;
	white-space: normal;
	color: #000000 !important;	
}

.upper
{
	text-transform: uppercase;
}

.ui-autocomplete-input.ui-inputfield
{
    width : 450px !important;
}

.ui-button-text-only .ui-button-text {
    font-size: 8pt; 
    color: #4F4F4F;
}

.even-row {
    background: #fcefa1;
}

.odd-row {
    background: #f7f7f7;
}