<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<!-- Form de msg -->    
	<h:form id="form_msg">
		<p:growl id="growl" showDetail="true" sticky="true" showSummary="false"/>
	</h:form>   
</h:body>
</html>