<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<f:view contentType="text/html; charset=UTF-8" />
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Workflow || RGC</title>
	<h:outputScript library="js" name="locale-primefaces.js" />			
	<link rel="stylesheet" type="text/css" href="resources/css/estilo.css" />
</h:head>
<h:body>
	<p:layout fullPage="true" >
		<p:layoutUnit position="west" styleClass="semBackground" gutter="0">
			<ui:insert name="menu">			
				<h:form>				
					<p:commandButton id="dynaButton" type="button"
								value="Olá,&#10;Matheus"
								icon="ui-icon-person" styleClass="semBorda" style="white-space: pre;">
								<p:menu overlay="true" trigger="dynaButton"
								        my="left top" at="left bottom">
									
									<p:menuitem value="#{basico.label_home}" url="home.xhtml" icon="ui-icon-home" />
									
									<p:menuitem value="#{basico.label_alterar_usuario}" url="selecionar_usuario.xhtml" icon="ui-icon-transferthick-e-w" />		
										
									<p:separator />
									<p:menuitem value="#{basico.label_sair}" url="login.workflowrgc" icon="ui-icon-power" />
								</p:menu>
							</p:commandButton>							
				</h:form>		
			</ui:insert>
			<p:separator/>
			<ui:insert name="menu">			
				<h:form>				
					<p:menubar model="#{menuMB.menuModel}" styleClass="ui-listview-inset ui-corner-all">
					</p:menubar>							
				</h:form>		
			</ui:insert>
			
			<f:facet name="footer">
		    	 <h:graphicImage url="/resources/images/logo.png" height="40"/>		
		    </f:facet>
		</p:layoutUnit>

		<div align="center">
			<p:layoutUnit position="center">
				<ui:insert name="centro">              
                </ui:insert>
			</p:layoutUnit>
		</div>
		<p:layoutUnit position="south">
			<f:facet name="footer">
		    		<p:outputLabel value="© 2017 RGC - All rights reserved."/>			
		    </f:facet>
		</p:layoutUnit>
	</p:layout>
	
</h:body>
</html>