<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<p:panelGrid columns="1"  id="display">
	<f:facet name="header">#{basico.label_filtro_pesquisa}</f:facet>
	<p:panelGrid style="font-size: 14px" columns="2" styleClass="semBorda">
	
		<h:outputLabel for="filtro_descricao" value="#{item.label_descricao}:" />
		<p:inputText id="filtro_descricao" value="#{itemMB.filtro.descricao}" label="Surname" required="false" />
		
	</p:panelGrid>
	<f:facet name="footer">
		<div align="right">	
		   <f:ajax disabled="false">  
			              							  
			<p:commandButton value="#{basico.label_limpar}" icon="ui-icon-radio-off"
			                 style="font-size: 14px" 
							 action="#{itemMB.limpar}"
			                 ajax="true"  update="@this:display" />
			<h:outputText value=" " />
			              							  
			<p:commandButton id="btnBuscar" value="#{basico.label_pesquisar}"
			                 style="font-size: 14px"
							 onstart="PF('carregando_dados_dialog').show()" onsuccess="PF('carregando_dados_dialog').hide()"
			                 ajax="true" icon="ui-icon-search"		
			                 action="#{itemMB.buscar}"		                 					                 
			                 update="@this:tabela_item"/>					                 
			<p:defaultCommand target="btnBuscar" />
		   </f:ajax>						                  								
		</div>
	</f:facet>
</p:panelGrid>
</html>