<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<!-- Tela de inclusão de um novo item -->
<p:dialog id="dg_novo_item" header="#{item.label_title_novo}"
		widgetVar="dialog_add_item" appendTo="@(body)"
		resizable="false" closable="false" modal="true" width="700"
		showEffect="clip" hideEffect="fold">		
	<h:form id="form_add_item">
		<p:panelGrid id="display" style="font-size: 14px" styleClass="semborda">

			<!-- descrição -->
			<p:row>	
				<p:column style="width:40%">
					<p:outputLabel for="txt_descricao" value="#{item.label_descricao}:" />
				</p:column>
				<p:column style="width:100%">
					<p:inputText id="txt_descricao" value="#{itemMB.item.descricao}" size="50"/>
				</p:column>
			</p:row>
		    
			<!-- part number -->
			<p:row>	
				<p:column style="width:40%">
					<p:outputLabel for="txt_pn" value="#{item.label_part_number}:" />
				</p:column>
				<p:column style="width:100%">
					<p:inputText id="txt_pn" value="#{itemMB.item.partNumber}" size="50"/>
				</p:column>
			</p:row>
		    
			<!-- fabricante -->
			<p:row>	
				<p:column style="width:40%">
					<p:outputLabel for="txt_fabricante" value="#{item.label_fabricante}:" />
				</p:column>
				<p:column style="width:100%">
					<p:inputText id="txt_fabricante" value="#{itemMB.item.fabricante}" size="50"/>
				</p:column>
			</p:row>
		    
			<!-- part number fabricante -->
			<p:row>	
				<p:column style="width:40%">
					<p:outputLabel for="txt_pn_fabricante" value="#{item.label_part_number_fabr}:" />
				</p:column>
				<p:column style="width:100%">
					<p:inputText id="txt_pn_fabricante" value="#{itemMB.item.partNumberFabricante}" size="50"/>
				</p:column>
			</p:row>
		    
			<!-- part number rgc -->
			<p:row>	
				<p:column style="width:40%">
					<p:outputLabel for="txt_pn_rgc" value="#{item.label_part_number_rgc}:" />
				</p:column>
				<p:column style="width:100%">
					<p:inputText id="txt_pn_rgc" value="#{itemMB.item.partNumberRGC}" size="50"/>
				</p:column>
			</p:row>
		    
			<!-- ncm pré classificado -->
			<p:row>	
				<p:column style="width:40%">
					<p:outputLabel for="txt_ncm_pre" value="#{item.label_ncm_pre}:" />
				</p:column>
				<p:column style="width:100%">
					<p:inputText id="txt_ncm_pre" value="#{itemMB.item.ncmPreClassificado}" size="50"/>
				</p:column>
			</p:row>
		    
			<!-- cliente -->
			<p:row>
				<p:column style="width:40%">
					<p:outputLabel for="selCliente" value="#{item.label_cliente}" />
				</p:column>
				<p:column style="width:100%">
					<p:selectOneMenu id="selCliente"
						value="#{itemMB.item.cliente}" size="70">
						<f:converter converterId="simpleEntityConverter" />
						<f:selectItem itemValue="" itemLabel="#{item.label_selecionar_cliente}" />
						<f:selectItems value="#{itemMB.clientes}" var="c"
							itemLabel="#{c.razaoSocial}" itemValue="#{c}" />
					</p:selectOneMenu>
					<p:message for="selCliente" display="text" />
				</p:column>
			</p:row>
			
			<!-- departamento -->
			<p:row>
				<p:column style="width:40%">
					<p:outputLabel for="selDepartamento" value="#{item.label_departamento}" />
				</p:column>
				<p:column style="width:100%">
					<p:selectOneMenu id="selDepartamento"
						value="#{itemMB.item.departamento}" size="70">
						<f:converter converterId="simpleEntityConverter" />
						<f:selectItem itemValue="" itemLabel="#{item.label_selecionar_departamento}" />
						<f:selectItems value="#{itemMB.departamentos}" var="d"
							itemLabel="#{d.descricao}" itemValue="#{d}" />
					</p:selectOneMenu>
					<p:message for="selDepartamento" display="text" />
				</p:column>
			</p:row>
			
			<!-- data recebimento -->
			<p:row>
				<p:column style="width:40%">
					<p:outputLabel for="txt_data_rec" value="#{item.label_data_recebimento}" />
				</p:column>
				<p:column style="width:100%">
					<p:calendar id="txt_data_rec" value="#{itemMB.item.dataRecebimento}" locale="pt" pattern="dd/MM/yyyy" effect="fold" />
				</p:column>
			</p:row>
		    
		</p:panelGrid>
		<p:separator/>
		<div align="left">					
			<p:commandButton value="#{basico.label_salvar}"
			        style="font-size: 14px"
					title="#{basico.label_salvar}"
					icon="ui-icon-disk"
					update="display, :form_cadastro_item,:form_msg"
					actionListener="#{itemMB.incluir}"
					onstart="PF('salvar_dialog').show();"
					onsuccess="PF('salvar_dialog').hide();"
					ajax="true"
					oncomplete="if(args.sucesso == true) {PF('dialog_add_item').hide(); }" />					
					
			<p:commandButton value="#{basico.label_cancelar}"
			        style="font-size: 14px"
					title="#{basico.label_cancelar}" immediate="true"	
					oncomplete="PF('dialog_add_item').hide();" icon="ui-icon-close" />
		</div>
	</h:form>
</p:dialog>
</h:body>
</html>