<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<!-- Tela de inclusão de um novo dre -->
<p:dialog id="dg_novo_teste" header="Novo Item"
		widgetVar="dialog_add_teste" appendTo="@(body)"
		resizable="false" closable="false" modal="true" width="700"
		showEffect="clip" hideEffect="fold">		
	<h:form id="form_add_teste">
		<p:panelGrid id="display" style="font-size: 14px" styleClass="semborda">
			
			<!-- descrição -->
			<p:row>	
				<p:column style="width:40%">
					<p:outputLabel value="Descrição:" />
				</p:column>
				<p:column style="width:100%">
					<p:inputText value="#{testeMB.item.descricao}" size="70"/>
				</p:column>
			</p:row>
		    
			<!-- fabricante -->
			<p:row>	
				<p:column style="width:40%">
					<p:outputLabel value="Fabricante:" />
				</p:column>
				<p:column style="width:100%">
					<p:inputText value="#{testeMB.item.fabricante}" size="70"/>
				</p:column>
			</p:row>
			
			<!-- departamento -->
			<p:row>
				<p:column style="width:40%">
					<p:outputLabel for="txt_operacao" value="Departamento:" />
				</p:column>
				<p:column style="width:100%">
                    <p:selectOneMenu id="txt_operacao" required="true" size="70" value="#{testeMB.item.departamento.descricao}">
                        <f:selectItem itemLabel="Produção" itemValue="prod" />
                        <f:selectItem itemLabel="Logística" itemValue="log" />
                        <f:selectItem itemLabel="Engenharia" itemValue="eng" />
                    </p:selectOneMenu>
				</p:column>
			</p:row>
			
			<!-- data transacao -->
			<p:row>
				<p:column style="width:40%">
					<p:outputLabel for="txt_data" value="Data Recebimento:" />
				</p:column>
				<p:column style="width:100%">
					<p:calendar id="txt_data" value="#{testeMB.item.dataCadastro}" locale="pt" pattern="dd/MM/yyyy" effect="fold" />
				</p:column>
			</p:row>
		    
			<!-- valor -->
			<p:row>	
				<p:column style="width:40%">
					<p:outputLabel value="Valor" />
				</p:column>
				<p:column style="width:100%">
					<p:spinner id="txt_ordem" value="#{testeMB.valor}" size="5" maxlength="255"/>
				</p:column>
			</p:row>
																
		</p:panelGrid>
		<p:separator/>
		<div align="left">					
					<p:commandButton value="Salvar"
			        style="font-size: 14px"
					title="Salvar"
					icon="ui-icon-disk"
					update="display, :form_cadastro_teste,:form_msg"
					actionListener="#{testeMB.incluir}"
					onstart="PF('salvar_dialog').show();"
					onsuccess="PF('salvar_dialog').hide();"
					class="btn btn-primary"
					ajax="true"
					oncomplete="if(args.sucesso == true) {PF('dialog_add_teste').hide(); }" />					
					
			<p:commandButton value="Cancelar"
			        style="font-size: 14px"
					title="Cancelar" immediate="true"				
					class="btn btn-danger"	
					oncomplete="PF('dialog_add_teste').hide();" icon="ui-icon-close" />
		</div>
	</h:form>
</p:dialog>
</h:body>
</html>