<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<!-- Tela de editar usuario -->
<p:dialog id="dg_editar_usuario" header="#{usuario.label_title_editar}"
		widgetVar="dialog_editar_usuario" appendTo="@(body)"
		resizable="false" closable="false" modal="true" width="550"
		showEffect="clip" hideEffect="fold">		
	<h:form id="form_editar_usuario">
		<p:panelGrid id="display" style="font-size: 14px" styleClass="semborda">
		    
			<!-- nome -->
			<p:row>
				<p:column style="width:40%">
					<p:outputLabel for="txt_nome" value="#{usuario.label_nome}:" />
				</p:column>
				<p:column style="width:60%">
					<p:inputText id="txt_nome" value="#{usuarioMB.usuario.nome}" required="true" size="50" maxlength="200" />
				</p:column>
			</p:row>
			
			<!-- cargo -->
			<p:row>
				<p:column style="width:40%">
					<p:outputLabel for="selCargo" value="#{usuario.label_cargo}" />
				</p:column>
				<p:column style="width:100%">
					<p:selectOneMenu id="selCargo"
						value="#{usuarioMB.usuario.cargo}" size="70">
						<f:converter converterId="simpleEntityConverter" />
						<f:selectItem itemValue="" itemLabel="#{usuario.label_selecionar_cargo}" />
						<f:selectItems value="#{usuarioMB.cargos}" var="c"
							itemLabel="#{c.descricao}" itemValue="#{c}" />
					</p:selectOneMenu>
					<p:message for="selCargo" display="text" />
				</p:column>
			</p:row>
			
			<!-- cpf -->
			<p:row>
				<p:column style="width:40%">
					<p:outputLabel for="txt_cpf" value="#{usuario.label_cpf}:" />
				</p:column>
				<p:column style="width:60%">
					<p:inputText id="txt_cpf" value="#{usuarioMB.usuario.cpf}" required="true" size="50" maxlength="50" />
				</p:column>
			</p:row>
			
			<!-- email -->
			<p:row>
				<p:column style="width:40%">
					<p:outputLabel for="txt_email" value="#{usuario.label_email}:" />
				</p:column>
				<p:column style="width:60%">
					<p:inputText id="txt_email" value="#{usuarioMB.usuario.email}" required="true" size="50" maxlength="50" />
				</p:column>
			</p:row>
			
			<!-- telefone -->
			<p:row>
				<p:column style="width:40%">
					<p:outputLabel for="txt_telefone" value="#{usuario.label_telefone}:" />
				</p:column>
				<p:column style="width:60%">
					<p:inputMask id="txt_telefone" value="#{usuarioMB.usuario.telefone}" mask="(99) 9999-9999" required="true" size="20" maxlength="20" />
				</p:column>
			</p:row>
			
			<!-- ativo -->
			<p:row>
				<p:column style="width:40%">
					<p:outputLabel for="txt_ativo" value="#{usuario.label_ativo}:" />
				</p:column>
				<p:column style="width:60%">
                    <p:selectOneMenu id="txt_ativo" value="#{usuarioMB.usuario.ativo}">
                        <f:selectItem itemLabel="#{basico.label_nao}" itemValue="N" />
                        <f:selectItem itemLabel="#{basico.label_sim}" itemValue="S" />
                    </p:selectOneMenu>
				</p:column>
			</p:row>
			
			<!-- username -->
			<p:row>
				<p:column style="width:40%">
					<p:outputLabel for="txt_username" value="#{usuario.label_username}:" />
				</p:column>
				<p:column style="width:60%">
					<p:inputText id="txt_username" value="#{usuarioMB.usuario.username}" required="true" size="50" maxlength="50" />
				</p:column>
			</p:row>
			
			<!-- senha -->
			<p:row>
				<p:column style="width:40%">
					<p:outputLabel for="txt_senha" value="#{usuario.label_senha}:" />
				</p:column>
				<p:column style="width:60%">
					<p:password id="txt_senha" value="#{usuarioMB.usuario.senha}" match="txt_repetir_senha" required="true" size="50" maxlength="255" />
				</p:column>
			</p:row>
			
			<!-- senha 2 -->
			<p:row>
				<p:column style="width:40%">
					<p:outputLabel for="txt_repetir_senha" value="#{usuario.label_repetir_senha}:" />
				</p:column>
				<p:column style="width:60%">
					<p:password id="txt_repetir_senha" value="#{usuarioMB.usuario.senha}" required="true" size="50" maxlength="255" />
				</p:column>
			</p:row>
													
		</p:panelGrid>
		<p:separator/>
		<div align="left">
			<p:commandButton value="#{basico.label_salvar}"
			        style="font-size: 14px"
					icon="ui-icon-disk" title="#{basico.label_salvar}"
					update="display, :form_cadastro_usuario,:form_msg"
					actionListener="#{usuarioMB.editar}"
					onstart="PF('salvar_dialog').show();"
					onsuccess="PF('salvar_dialog').hide();"
					oncomplete="if(args.sucesso == true) {PF('dialog_editar_usuario').hide(); }" />	
			<p:commandButton value="#{basico.label_cancelar}"
			        style="font-size: 14px"
					title="#{basico.label_cancelar}" immediate="true"
					oncomplete="PF('dialog_editar_usuario').hide();" icon="ui-icon-close" />
		</div>
	</h:form>
</p:dialog>
</h:body>
</html>