<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<p:dialog id="dialog_carregando_dados" header="#{basico.label_aguarde_dados}"
		widgetVar="carregando_dados_dialog" appendTo="@(body)" resizable="false"
		closable="false" modal="true" width="180" showEffect="clip"
		hideEffect="fold">
		<h:form id="form_dialog_dados">
			<div align="center">
				<h:graphicImage url="/resources/images/loading.gif" width="150" />
			</div>
		</h:form>		
	</p:dialog>
</h:body>
</html>