<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>#{basico.label_title}</title>
</h:head>
<ui:decorate template="/template/template.xhtml">
<ui:define name="centro">
	 
	<p:panel header="#{usuario.label_title}" visible="true"  closable="false" draggable="false" resizable="false" width="420">
		<!-- Form teste -->
		<h:form id="form_cadastro_usuario">
        
		<h:form id="form_cadastro_usuario_formulario" style="font-size: 14px">
			<p:toolbar style="font-size: 14px">	
				 <f:facet name="left">					
				 	<!--Botao Novo  -->
				 	<p:commandButton value="#{basico.label_novo}" icon="ui-icon-circle-plus" oncomplete="PF('dialog_add_usuario').show();" update=":form_add_usuario, :form_cadastro_usuario">
							<f:setPropertyActionListener target="#{usuarioMB.usuario}" value="null" />								
					</p:commandButton>				
					<!-- Botao Filtro -->
				 	<p:commandButton id="btPesquisa" value="#{basico.label_filtro}" icon="ui-icon-search"/>
				 	<p:overlayPanel id="overPesquisa" for="btPesquisa" hideEffect="fade" showCloseIcon="true" dismissable="false">
				 		<ui:include src="/filtro/usuario_filtro.xhtml"/>				 		
				 	</p:overlayPanel>
				 </f:facet>
			</p:toolbar>
			<p:separator/>
			<!-- Tabela com os dados do usuario -->
			<p:dataTable id="tabela_usuario"			
					value="#{usuarioMB.usuarios}" var="user"
					rowKey="user.id"
					paginator="true"
					rows="30" rowsPerPageTemplate="15,20,30"
					style="font-size: 15"
					emptyMessage="#{usuario.label_datatable_vazio}">
				<p:columnGroup type="header">
					<p:row>
						<p:column headerText=""  style="width:8%; text-align: center; white-space: normal;"/>
						<p:column headerText="#{usuario.label_nome}"  style="width:30%; text-align: center; white-space: normal;"/>
						<p:column headerText="#{usuario.label_cargo}"  style="width:11%; text-align:  center; white-space: normal;"/>
						<p:column headerText="#{usuario.label_email}"  style="width:20%; text-align:  center; white-space: normal;"/>
						<p:column headerText="#{usuario.label_ativo}"  style="width:9%; text-align:  center; white-space: normal;"/>	
						<p:column headerText="#{usuario.label_disponivel}"  style="width:9%; text-align:  center; white-space: normal;"/>			
					</p:row>
				</p:columnGroup>
				
				<!-- Colunas com dados -->				
				<p:column style="text-align: center; white-space: normal;">
					<p:commandButton title="#{usuario.label_editar_usuario}" icon="ui-icon-pencil" oncomplete="PF('dialog_editar_usuario').show();" update=":form_editar_usuario" styleClass="botao_table">
							<f:setPropertyActionListener target="#{usuarioMB.usuario}" value="#{user}" />								
					</p:commandButton>
					<p:commandButton title="#{usuario.label_excluir_usuario}" icon="ui-icon-trash" oncomplete="PF('dialog_excluir').show();" update=":form_cadastro_usuario" styleClass="botao_table">
							<f:setPropertyActionListener target="#{usuarioMB.usuario}" value="#{user}" />								
					</p:commandButton>
				</p:column>		
				
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{user.nome}" />
				</p:column>
											
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{user.cargo.descricao}" />
				</p:column>		
									
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{user.email}" />
				</p:column>			
									
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{user.ativo}"/>
				</p:column>		
									
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{user.disponivel}"/>
				</p:column>
																																		
			</p:dataTable>
		</h:form>
		</h:form>
	</p:panel>

		<p:confirmDialog id="dialog_excluir"
			message="#{usuario.label_confirma_exclusao}" header="#{usuario.label_header_excluir}"
			severity="alert" widgetVar="dialog_excluir" appendTo="@(body)">

			<h:form id="form_excluir_usuario">
				<p:commandButton value="#{basico.label_sim}" oncomplete="PF('dialog_excluir').hide()" image="ui-icon-trash" update=":form_msg, :form_cadastro_usuario" actionListener="#{usuarioMB.excluir}" />
				<p:commandButton immediate="true" value="#{basico.label_nao}" image="ui-icon-cancel" onclick="PF('dialog_excluir').hide()" />
			</h:form>
		</p:confirmDialog>
		
	<ui:include src="/template/mensagem.xhtml"/>
	<ui:include src="/carregamento/carregando_dados.xhtml"/>
	<ui:include src="/dialog/usuario_editar.xhtml"/>
	<ui:include src="/dialog/usuario_incluir.xhtml"/>
</ui:define>	
</ui:decorate>
</html>