<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>#{basico.label_title}</title>
</h:head>
<ui:decorate template="/template/template.xhtml">
<ui:define name="centro">

	<p:panel header="#{item.label_title}" visible="true"  closable="false" draggable="false" resizable="false" width="420">
		<!-- Form teste -->
		<h:form id="form_cadastro_item">
        
		<h:form id="form_cadastro_item_formulario" style="font-size: 14px">
			<p:toolbar style="font-size: 14px">	
				 <f:facet name="left">					
				 	<!--Botao Novo  -->
				 	<p:commandButton value="#{basico.label_novo}" icon="ui-icon-circle-plus" oncomplete="PF('dialog_add_item').show();" update=":form_add_item, :form_cadastro_item">
							<f:setPropertyActionListener target="#{itemMB.item}" value="null" />								
					</p:commandButton>				
					<!-- Botao Filtro -->
				 	<p:commandButton id="btPesquisa" value="#{basico.label_filtro}" icon="ui-icon-search"/>
				 	<p:overlayPanel id="overPesquisa" for="btPesquisa" hideEffect="fade" showCloseIcon="true" dismissable="false">
				 		<ui:include src="/filtro/item_filtro.xhtml"/>				 		
				 	</p:overlayPanel>
				 </f:facet>
			</p:toolbar>
			<p:separator/>
			<!-- Tabela com os dados do item -->
			<p:dataTable id="tabela_item"			
					value="#{itemMB.itens}" var="items"
					rowKey="items.id"
					paginator="true"
					rows="30" rowsPerPageTemplate="15,20,30"
					style="font-size: 15"
					emptyMessage="#{item.label_datatable_vazio}">
				<p:columnGroup type="header">
					<p:row>
						<p:column headerText=""  style="width:5%; text-align: center; white-space: normal;"/>
						<p:column headerText="#{item.label_descricao}"  style="width:40%; text-align: center; white-space: normal;"/>
						<p:column headerText="#{item.label_part_number}"  style="width:11%; text-align:  center; white-space: normal;"/>
						<p:column headerText="#{item.label_cliente}"  style="width:20%; text-align:  center; white-space: normal;"/>
						<p:column headerText="#{item.label_departamento}"  style="width:15%; text-align:  center; white-space: normal;"/>	
						<p:column headerText="#{item.label_data_recebimento}"  style="width:9%; text-align:  center; white-space: normal;"/>			
					</p:row>
				</p:columnGroup>

				<!-- Colunas com dados -->			
				<p:column style="text-align: center; white-space: normal;">
					<p:commandButton title="#{item.label_editar_item}" icon="ui-icon-pencil" oncomplete="PF('dialog_editar_item').show();" update=":form_editar_item" styleClass="botao_table">
							<f:setPropertyActionListener target="#{itemMB.item}" value="#{items}" />								
					</p:commandButton>
					<p:commandButton title="#{item.label_excluir_item}" icon="ui-icon-trash" oncomplete="PF('dialog_excluir').show();" update=":form_cadastro_item" styleClass="botao_table">
							<f:setPropertyActionListener target="#{itemMB.item}" value="#{items}" />								
					</p:commandButton>
				</p:column>		
				
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{items.descricao}" />
				</p:column>
											
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{items.partNumber}" />
				</p:column>		
									
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{items.cliente.razaoSocial}" />
				</p:column>			
									
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{items.departamento.descricao}"/>
				</p:column>		
									
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{items.dataRecebimento}">
                       <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                    </p:outputLabel>
				</p:column>
																																		
			</p:dataTable>
		</h:form>
		</h:form>
	</p:panel>
	 
	<p:confirmDialog id="dialog_excluir"
		message="#{item.label_confirma_exclusao}" header="#{item.label_header_excluir}"
		severity="alert" widgetVar="dialog_excluir" appendTo="@(body)">

		<h:form id="form_excluir_item">
			<p:commandButton value="#{basico.label_sim}" oncomplete="PF('dialog_excluir').hide()" image="ui-icon-trash" update=":form_msg, :form_cadastro_item" actionListener="#{itemMB.excluir}" />
			<p:commandButton immediate="true" value="#{basico.label_nao}" image="ui-icon-cancel" onclick="PF('dialog_excluir').hide()" />
		</h:form>
	</p:confirmDialog>
		
	<ui:include src="/template/mensagem.xhtml"/>
	<ui:include src="/carregamento/carregando_dados.xhtml"/>
	<ui:include src="/dialog/item_editar.xhtml"/>
	<ui:include src="/dialog/item_incluir.xhtml"/>
</ui:define>	
</ui:decorate>
</html>