<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Workflow || RGC - Cadastro de Item</title>
</h:head>
<ui:decorate template="/template/template.xhtml">
<ui:define name="centro">
	 
	<p:panel header="Cadastro de Item" visible="true"  closable="false" draggable="false" resizable="false" width="420">
		<!-- Form teste -->
		<h:form id="form_cadastro_teste">
        
		<h:form id="form_cadastro_teste_formulario" style="font-size: 14px">
			<p:toolbar style="font-size: 14px">	
				 <f:facet name="left">					
				 	<!--Botao Novo  -->
				 	<p:commandButton value="Novo" icon="ui-icon-circle-plus" oncomplete="PF('dialog_add_teste').show();" update=":form_add_teste, :form_cadastro_teste">
							<f:setPropertyActionListener target="#{testeMB.item}" value="null" />								
					</p:commandButton>				
					<!-- Botao Filtro -->
				 	<p:commandButton id="btPesquisa" value="Filtro" icon="ui-icon-search"/>
				 </f:facet>
			</p:toolbar>
			<p:separator/>
			<!-- Tabela com os dados da pessoa -->
			<p:dataTable id="tabela_pessoa"			
					value="#{testeMB.itens}" var="t"
					rowKey="t.id"
					paginator="true"
					rows="30" rowsPerPageTemplate="15,20,30"
					style="font-size: 15">
				<p:columnGroup type="header">
					<p:row>
						<p:column headerText="Descrição"  style="width:30%; text-align: center; white-space: normal;"/>
						<p:column headerText="Fabricante"  style="width:11%; text-align:  center; white-space: normal;"/>
						<p:column headerText="Part Number"  style="width:20%; text-align:  center; white-space: normal;"/>
						<p:column headerText="Data Cadastro"  style="width:9%; text-align:  center; white-space: normal;"/>	
						<p:column headerText="Valor"  style="width:9%; text-align:  center; white-space: normal;"/>			
					</p:row>
				</p:columnGroup>
				
				<!-- Colunas com dados -->	
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{t.descricao}" />
				</p:column>
											
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{t.fabricante}" />
				</p:column>		
									
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{t.partNumber}" />
				</p:column>			
									
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{t.dataCadastro}">
                       <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                    </p:outputLabel>
				</p:column>		
									
				<p:column style="text-align: left; white-space: normal;">
					<p:outputLabel value="#{testeMB.valor}">
                       <f:convertNumber type="currency" currencySymbol="R$" locale="pt_BR" />
                    </p:outputLabel>
				</p:column>
																																		
			</p:dataTable>
		</h:form>
		</h:form>
	</p:panel>

		<p:confirmDialog id="dialog_excluir"
			message="Deseja realmente excluir este Item?" header="Excluir Item"
			severity="alert" widgetVar="dialog_excluir" appendTo="@(body)">

			<h:form id="form_excluir_teste">
				<p:commandButton value="SIM" oncomplete="PF('dialog_excluir').hide()" image="ui-icon-trash" update=":form_msg, :form_cadastro_teste" actionListener="#{testeMB.incluir}" />
				<p:commandButton immediate="true" value="NÃO" image="ui-icon-cancel" onclick="PF('dialog_excluir').hide()" />
			</h:form>
		</p:confirmDialog>
		
	<ui:include src="/template/mensagem.xhtml"/>
	<ui:include src="/carregamento/carregando_dados.xhtml"/>
	<ui:include src="/dialog/teste_incluir.xhtml"/>
</ui:define>	
</ui:decorate>
</html>