<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:ui="http://java.sun.com/jsf/facelets"
 xmlns:h="http://java.sun.com/jsf/html"
 xmlns:p="http://primefaces.org/ui"
 xmlns:f="http://java.sun.com/jsf/core">
<h:head>
 <link rel="stylesheet" type="text/css" href="resources/css/estilo_login.css" />
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <title>#{login.label_titulo}</title>
</h:head>
<h:body> 
 <p:layout fullPage="true">
  <div align="center">
      <p:layoutUnit position="center">     
       <h:form id="form_login">                
         <h:graphicImage url="/resources/images/logo.png"/>
         <p:dialog header="#{login.label_login}" width="420" visible="true" closable="false"
           draggable="false" resizable="false">
         <p:messages id="msg" showDetail="true" showSummary="false" closable="true"/> 
         <h:panelGrid columns="2" cellpadding="5"> 
           <p:outputLabel for="ed_usuario" value="#{login.label_usuario}:" />    
           <p:inputText id="ed_usuario" value="#{loginMB.username}"
             required="false" placeholder="#{login.label_usuario}"             
             requiredMessage="#{login.label_msg_usuario_vazio}" title="User">
             <f:ajax event="blur" render="@this" />
           </p:inputText>  
           <p:outputLabel for="ed_senha" value="#{login.label_senha}:" />
           <p:inputText id="ed_senha" value="#{loginMB.password}" type="password"
             required="false" placeholder="#{login.label_senha}"       
             requiredMessage="#{login.label_msg_senha_vazio}" />
          
           <f:facet name="footer"> 
          <div align="center">       
           <p:separator />
           <p:commandButton value="#{login.label_entrar}" ajax="false" icon="ui-icon-key" iconPos="right" action="#{loginMB.efetuaLogin}" update="form_login" />
          </div>                        
         </f:facet>           
       </h:panelGrid>     
      </p:dialog>
    </h:form>
    <f:facet name="footer">
        <p:outputLabel value="© 2017 RGC - All rights reserved."/>   
    </f:facet>
      </p:layoutUnit> 
     </div>        
 </p:layout> 
</h:body>
</html>