<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:ui="http://java.sun.com/jsf/facelets"
 xmlns:h="http://java.sun.com/jsf/html"
 xmlns:p="http://primefaces.org/ui"
 xmlns:f="http://java.sun.com/jsf/core">
<h:head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <title>#{login.label_selecionar_pessoa}</title>
</h:head>
<h:body> 
 <p:layout fullPage="true">
  <div align="center">
      <p:layoutUnit position="center">     
       <h:form id="form_selecionar_pessoa">
         
         <p:dialog header="#{login.label_selecionar_pessoa}" width="600" visible="true" closable="false"
           draggable="false" resizable="false">
         <h:panelGrid columns="2">
         			
			<!-- pessoa -->
			<p:row>
				<p:column style="width:40%">
			<p:outputLabel for="selPessoa" value="#{login.label_pessoa}:" />
				</p:column>
				<p:column style="width:60%">
			<p:selectOneMenu id="selPessoa"
					value="#{selecionarPessoaMB.pessoa}" size="70"
					required="true">
					<f:converter converterId="simpleEntityConverter" />
					<f:selectItem itemValue="" itemLabel="Selecione uma Pessoa" />
					<f:selectItems value="#{selecionarPessoaMB.pessoas}" var="pes"
						itemLabel="#{pes.descricao}" itemValue="#{pes}" />
			</p:selectOneMenu>
				</p:column>
		    </p:row>
          
           <f:facet name="footer"> 
          <div align="center">       
           <p:separator />
           <p:commandButton value="#{login.label_selecionar}" ajax="false" icon="ui-icon-key" iconPos="right" action="#{selecionarPessoaMB.selecionarPessoa}" update="form_login" />
          </div>                        
         </f:facet>           
       </h:panelGrid>     
      </p:dialog>
    </h:form>
    <f:facet name="footer">
            <p:outputLabel value="© 2016 Agrosoftware Sistemas e Soluções Agropecuárias - All rights reserved."/>   
          </f:facet>
      </p:layoutUnit> 
     </div>        
 </p:layout> 
</h:body>
</html>